<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.speedchina.AddressMatch.dao.AddrTaskDao">
	<resultMap type="com.speedchina.AddressMatch.model.AddrTask" id="BaseResultMap">
        <result property="id" column="id" javaType="String"/>
        <result property="taskName" column="task_name" javaType="String"/>
        <result property="taskDesc" column="task_desc" javaType="String"/>
        <result property="interfaceId" column="interface_id" javaType="String"/>
        <result property="filePath" column="file_path" javaType="String"/>
        <result property="addTime" column="add_time" javaType="Date"/>
        <result property="updateTime" column="update_time" javaType="Date"/>
        <result property="status" column="status" javaType="Integer"/>
	</resultMap>
	
	<sql id="full-columns" >
        t.id,
        t.task_name,
        t.task_desc,
        t.interface_id,
        t.file_path,
        t.add_time,
        t.update_time,
        t.status
	</sql>

	<insert id="saveAddrTask" parameterType="com.speedchina.AddressMatch.model.AddrTask">
		INSERT INTO addr_task(
				com.speedchina.AddressMatch.model.AddrTask
	            task_name ,
	            task_desc ,
	            interface_id ,
	            file_path ,
	            add_time ,
	            update_time ,
	            status 
		)
		VALUES (
	        	#{id},
	        	#{taskName},
	        	#{taskDesc},
	        	#{interfaceId},
	        	#{filePath},
	        	#{addTime},
	        	#{updateTime},
	        	#{status}
		)

	</insert>
	
	<update id="updatePramsById" parameterType="com.speedchina.AddressMatch.model.AddrTask">
		UPDATE addr_task  
		<set>
			<if test="taskName != null and taskName != ''">
				task_name = #{taskName},
			</if>
			<if test="taskDesc != null and taskDesc != ''">
				task_desc = #{taskDesc},
			</if>
			<if test="interfaceId != null and interfaceId != ''">
				interface_id = #{interfaceId},
			</if>
			<if test="filePath != null and filePath != ''">
				file_path = #{filePath},
			</if>
			<if test="addTime != null and addTime != ''">
				add_time = #{addTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
        </set>
		WHERE  id =  #{id}
	</update>


	<select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
		SELECT  <include refid="full-columns" />
	<!--	t.id,
		t.task_name,
		t.task_desc,
		t.interface_id,
		t.file_path,
		DATE_FORMAT(t.add_time,'%Y-%m-%d %H:%i:%s') as addTime,
		DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%s') as updateTime,
		t.status -->
	    FROM addr_task t
		<where>
			<if test="id != null and id != ''">
				AND t.id = #{id}
		    </if>
			<if test="taskName != null and taskName != ''">
				AND t.task_name = #{taskName}
		    </if>
			<if test="taskDesc != null and taskDesc != ''">
				AND t.task_desc = #{taskDesc}
		    </if>
			<if test="interfaceId != null and interfaceId != ''">
				AND t.interface_id = #{interfaceId}
		    </if>
			<if test="filePath != null and filePath != ''">
				AND t.file_path = #{filePath}
		    </if>
			<if test="addTime != null and addTime != ''">
				AND t.add_time = #{addTime}
		    </if>
			<if test="updateTime != null and updateTime != ''">
				AND t.update_time = #{updateTime}
		    </if>
			<if test="status != null and status != ''">
				AND t.status = #{status}
		    </if>
		</where>
	    limit ${from},${pageSize}
	</select>

	<select id="getAddrTaskTotalCount" parameterType="map" resultType="java.lang.Integer">
		select count(1) from addr_task
		<where>
			<if test="id != null and id != ''">
				AND t.id = #{id}
			</if>
			<if test="taskName != null and taskName != ''">
				AND t.task_name = #{taskName}
			</if>
			<if test="taskDesc != null and taskDesc != ''">
				AND t.task_desc = #{taskDesc}
			</if>
			<if test="interfaceId != null and interfaceId != ''">
				AND t.interface_id = #{interfaceId}
			</if>
			<if test="filePath != null and filePath != ''">
				AND t.file_path = #{filePath}
			</if>
			<if test="addTime != null and addTime != ''">
				AND t.add_time = #{addTime}
			</if>
			<if test="updateTime != null and updateTime != ''">
				AND t.update_time = #{updateTime}
			</if>
			<if test="status != null and status != ''">
				AND t.status = #{status}
			</if>
		</where>
	</select>

</mapper>
